/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@font-face {
  font-family: 'SimplerPro_HLAR';
  src: url('webfonts/SimplerPro_HLAR-Bold.woff') format('woff'),
      url('webfonts/SimplerPro_HLAR-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SimplerPro_HLAR';
  src: url('webfonts/SimplerPro_HLAR-Regular.woff') format('woff'),
      url('webfonts/SimplerPro_HLAR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SimplerPro_HLAR';
  src: url('webfonts/SimplerPro_HLAR-Semibold.woff') format('woff'),
      url('webfonts/SimplerPro_HLAR-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SimplerPro_HLAR';
  src: url('webfonts/SimplerPro_HLAR-Light.woff') format('woff'),
      url('webfonts/SimplerPro_HLAR-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme__color1: #22B573;
  --theme__color2: #7D69FF;
  --light__bg: #F1F2ED;
  --simplerPro_HLAR: 'SimplerPro_HLAR'
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.3;
  background-color: #fff;
  font-family: var(--simplerPro_HLAR);
  color: #131316;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  direction: rtl;
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1599px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1425px;
  }
}


/* ---common--- */
.h2 {
  font-size: 50px;
  line-height: 1.09;
  margin: 0 0 14px;
}
.h3 {
  font-size: 40px;
  line-height: 1.09;
  margin: 0 0 14px;
}
.h3-b {
  font-size: 42px;
  line-height: 1.09;
  margin: 0 0 14px;
}
.h4 {
  font-size: 25px;
  font-weight: 400;
}
.h4-b {
  font-size: 30px;
  font-weight: 400;
}
.h5 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk .bottom-buttons {
  gap: 27px;
  margin-top: 30px;
  display: flex;
}
.sec-title {
  margin-bottom: 70px;
}

.light-bg {
  background: var(--light__bg) !important;
}
.section-in-shadow {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15) inset;
}
/* ---common---end */



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 23px 0 15px;
  border-bottom: 1px solid #131316;
}
.header-section .container {
  max-width: 100%;
  padding: 0 3%;
}
.header-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 160px;
  padding: 15px 0 0;
}
.header__logo img {

}

.main-menu {

}
.main-menu ul {
  display: flex;
  gap: 40px;
}
.main-menu ul li {

}
.main-menu ul li a {
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
}
.main-menu ul li a:hover {
  color: var(--theme__color1);
}
.main-menu ul li a.active {
  font-weight: 700;
}
/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 25px;
  top: 25px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #d5dce2;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.offcanvas-menu ul li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 10px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  padding: 180px 0 110px;
  position: relative;
}
.hero-left-shp {
  top: 103px;
  width: 614px;
  position: absolute;
  left: 0;
  pointer-events: none;
}
.hero-right-shp {
  top: 216px;
  width: 381px;
  position: absolute;
  right: 0;
}
.hero-section__inner {

}

.hero__content {
  margin-bottom: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__content .icon {
  margin: 0 0 32px;
  height: 92px;
  width: 92px;
  position: relative;
}
.hero__content .icon .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.hero__content .icon .outline {
	width: 117%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-56.2%,-43.8%);
	max-width: initial;
}
.hero__content .h1 {
  font-size: 50px;
  margin: 0 0 25px;
  font-weight: 900;
}
.hero__content .buttons {
  gap: 34px;
  display: flex;
}

.st-content {

}
.st-content--hero {
  --bs-gutter-x: 50px;
  --bs-gutter-y: var(--bs-gutter-x);
  max-width: 1380px;
  margin: 0 auto;
}
.st-item {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.st-item--hero {
  align-items: center;
  text-align: center;
}
.st-item__icon {
  margin: 0 0 26px;
  height: 52px;
  width: 52px;
  padding: 9px;
  position: relative;
  border: 1px solid #131316;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.st-item__icon .img {

}
.st-item__icon .outline {
	width: 226%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0 0 16% 9%;
	max-width: initial;
	transition: 0.3s;
}
.st-item:hover .outline {
	transform: translate(-50%,-50%) rotate(-30deg);
}
.st-item__content {

}
.st-item__content h4 {
  font-size: 25px;
  margin: 0 0 5px;
}
.st-item__content p {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 300;
}
/* ---hero-section---end */


/* ---smm-modal--- */
.smm-modal {

}
.smm-modal .modal-dialog {
  max-width: 420px;
}
.smm-modal-content {
  background: #F1F2ED;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: relative;
}
.smm-modal-content .modal-close {
  top: 26px;
  left: 23px;
  font-size: 24px;
  position: absolute;
  line-height: 1;
}
.smm-modal-content .modal-tp-shape {
  width: 220px;
  top: 25px;
  right: 0;
  position: absolute;
}
.smm-modal__title {
  margin-top: 110px;
  margin-bottom: 40px;
  text-align: center;
}
.smm-modal__title h3 {
  font-size: 30px;
  line-height: 1.04;
}
.modal-form {
  padding: 0 12px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-form__main {
  max-width: 304px;
  --bs-gutter-y: 37px;
}
.modal-form__bottom {
  margin-top: 33px;
  max-width: 342px;
  display: flex;
  flex-direction: column;
}
.modal-form__bottom label {
  margin-bottom: 14px;
  display: flex;
  gap: 8px;
}
.modal-form__bottom label .checkbox {
  margin-top: 2px;
}
.modal-submit-button {
  min-height: 40px;
  font-size: 20px;
  margin: 23px auto 0;
  min-width: 130px;
  padding: 4px 16px;
}
/* ---smm-modal---end */


/* ---about-us-section--- */
.about-us-section {
  position: relative;
}
.about-us-section__inner {
  padding: 0 9%;
}

.about-brand-row {
  padding-top: 110px;
}
.about-brand__content {
  padding-left: 30px;
}
.about-brands {

}
.about-brands .stack-img {
  width: 100%;
}

.about-us-row {
  margin-top: 172px;
  position: relative;
}
.about-us-spc-img {
  width: 772px;
  right: -460px;
  position: absolute;
  bottom: 0;
}
.about-us-content {
  padding-bottom: 50px;
}
/* ---about-us-section---end */



/* ---why-learn-section--- */
.why-learn-section {
  padding: 80px  0 130px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15) inset;
  position: relative;
  z-index: 1;
}
.learn-top-right-shape {
  top: 96px;
  right: 135px;
  width: 135px;
  position: absolute;
  z-index: -1;
}
.learn-bottom-left-shape {
  bottom: 102px;
  left: 102px;
  width: 166px;
  position: absolute;
  z-index: -1;
}
.why-learn-section__inner {
  padding: 0 7%;
}
.learn-bottom-left-shape {

}
.why-learn-section__title {

}

.st-content--learn {
  --bs-gutter-x: 70px;
  --bs-gutter-y: 48px;
}
.st-item--learn {

}
.st-item--learn .st-item__content h4 {
  font-weight: 600;
  line-height: 1.05;
  color: #2E353A;
}
.st-item--learn .st-item__content p {
  font-weight: 400;
  color: #2E353A;
}
/* ---why-learn-section---end */


/* ---testimonial-section--- */
.testimonial-section {
  padding-top: 66px;
}
.testimonial-section__inner {
  padding: 0 3%;
}
.testimonial-section__title {

}

.testimonial-slider {

}
.testimonial-slide {

}
.testimonial-slide .slide-img {
  width: 100%;
}
/* ---testimonial-section---end */


/* ---contact-us-section--- */
.contact-us-section {
  padding: 72px 0 78px;
}
.contact-us-section__inner {
  padding: 0 12%;
}
.contact-us-section__title {
  margin: 0 0 40px;
}

.contact-form {

}
.contact-form__main {
  align-items: center;
}
.contact-form__bottom {
  margin-top: 23px;
}
.contact-form__bottom p {
  font-size: 18px;
}
.single-input-x {
  width: 100%;
}
.input-x-outer {
  width: 100%;
}
.input-x {
  padding: 4px 10px;
  font-size: 18px;
  line-height: 1.3;
  border: 1px solid #131316;
  background: #fff;
  border-radius: 6px;
  color: #131316;
  width: 100%;
}
.input-x.submit {
  padding: 6px 10px;
  border-radius: 54px;
  text-align: center;
  display: block;
  background: var(--theme__color1);
}
/* ---contact-us-section---end */


/* ---syllabus-section--- */
.syllabus-section {
  position: relative;

}
.syllabus-top-img {
  position: absolute;
  top: -2px;
  left: 200px;
}
.syllabus-section__inner {
  padding: 0 16%;
}


.syllabus__module__row {
  padding-top: 82px;
}
.syllabus__module {

}
.plus-ul {
  gap: 19px;
  display: flex;
  flex-direction: column;
}
.plus-ul li {
  font-size: 20px;
  padding-right: 43px;
  position: relative;
}
.plus-ul li::before {
  content: '';
  height: 24px;
  width: 24px;
  background: url('images/plus-ul.svg') center center/100% 100%;
  display: block;
  position: absolute;
  top: 2px;
  right: 0;
}

.syllabus-content-row {
  padding-top: 65px;
}
.syllabus-content {

}
.syllabus-content-image {

}
.syllabus-content-image .img {
  width: calc(100% + 15%);
  margin-right: -15%;
  max-width: initial;
}
/* ---syllabus-section---end */


/* ---one-section--- */
.one-section {
  padding: 61px 0 85px;
}
.one-section__inner {

}
.one-section__title {

}

.one-numbers {
  display: flex;
  justify-content: center;
}
.one-number_item {
  padding: 100px 17px;
  position: relative;
}
.one-number_item .number {
  font-size: 50px;
  height: 118px;
  width: 118px;
  background: #F1F2ED;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.one-number_item .number::after {
  content: '';
  height: 50%;
  width: 100%;
  background: url('images/one-number-border-ellipse.png') no-repeat center center/100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(calc((118 + 36) / 118)) rotate(180deg) translate(0,-10%);
}
.one-number_item:nth-child(even) .number::after {
  transform: scale(calc((118 + 36) / 118)) translate(0,-10%);
  bottom: unset;
  top: 0;
}
.one-number_item .title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  white-space: nowrap;
  text-align: center;
}
.one-number_item:nth-child(even) .title {
  top: 0;
  bottom: unset;
}
.one-number_item .one-popup {
  display: none;
}
/* ---one-section---end */